:root {
    --x: 5;
    --y: 4;
    --old: "0";
    --new: "0";
    --old-best: "0";
    --new-best: "0";
    --color: rebeccapurple;
    --different: #441177;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-gap: min(1.5vh, 1.5vw);
    grid-template-columns: repeat(var(--y), 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-self: center;
}

@media (orientation:portrait) {
    .grid {
        grid-template-columns: repeat(var(--x), 1fr);
    }
 }

.box {
    width: min(19vh, 19vw);
    height: min(19vh, 19vw);
    background: var(--color);
    border-radius: min(1.5vh, 1.5vw);
}

.different {
    background: var(--different);
}

.scores {
    position: absolute;
    left: 1vh;
    top: 2.75vh;
    line-height: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score {
    font-size: 8vh;
}

.best {
    display: inline;
    font-size: 2.5vh;
}

#best-score {
    display: inline-block;
}

#best-score::after {
    content: var(--old-best)
}

.best-animate::after {
    display: inline-block;
    content: var(--old-best);
    animation-duration: 100ms;
    animation-name: fadeUpBest;
    animation-timing-function: ease-out;
}

@keyframes fadeUpBest {
    0% {
        transform: translateY(0);
        opacity: 1;
        content: var(--old-best)
    }
    50% {
        transform: translateY(-1vh);
        opacity: 0;
        content: var(--old-best)
    }
    51% {
        transform: translateY(-1vh);
        opacity: 0;
        content: var(--new-best)
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        content: var(--new-best)
    }
  }

#score {
    display: inline-block;
}

#score::after {
    content: var(--old)
}

.animate::after {
    display: inline-block;
    content: var(--old);
    animation-duration: 100ms;
    animation-name: fadeUp;
    animation-timing-function: ease-out;
}

@keyframes fadeUp {
    0% {
        transform: translateY(0);
        opacity: 1;
        content: var(--old)
    }
    50% {
        transform: translateY(-2vh);
        opacity: 0;
        content: var(--old)
    }
    51% {
        transform: translateY(-2vh);
        opacity: 0;
        content: var(--new)
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        content: var(--new)
    }
  }
